input[type="text"],
textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}
.text-field-container {
    flex: 1;
    padding: 50px;
    background-color: #f0f0f0;
}
.canvas-container {
    flex: 0;
    position:absolute;
    width: 0;
    height: 0;
}
#transitionFunctionText {
    min-width: 300px;
    max-width: 500px;
}
